@import "./_variables.scss";

.el-button {
  border: none;

  @extend .font-m;
  border-radius: 24px;
  padding: 10.5px 20.5px;
  .with-extra-padding {
    padding: 10.5px 46.5px;
  }
  &.size-s {
    @extend .font-bold;
    border-radius: 20px;
    padding: 8.5px 46.5px;
  }
  &.primary {
    background-color: $darkBlue;
    color: $white;
    &:hover {
      background-color: $lightBlue;
    }
  }
  &.secondary {
    background-color: $whiteBlue;
    color: $darkBlue;
    &:hover {
      background-color: rgba(99, 95, 199, 0.25);
    }
  }
  &.danger {
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $pink;
    }
  }
  &.disabled,
  &.disabled:hover {
    background-color: $darkBlue;
    color: $white;
    opacity: 0.25;
  }
}