.custom-icon {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.white-icon { filter: brightness(0) invert(1) }
.black-icon { filter: invert(100%) }
.primary-icon { filter: invert(36%) sepia(72%) saturate(647%) hue-rotate(206deg) brightness(92%) contrast(85%) }

.icon-add-task-mobile {
  background-image: url('assets/svgs/icon-add-task-mobile.svg')
}
.icon-board {
  background-image: url('assets/svgs/icon-board.svg')
}
.icon-check {
  background-image: url('assets/svgs/icon-check.svg')
}
.icon-chevron-down {
  background-image: url('assets/svgs/icon-chevron-down.svg') 
} // TODO
.icon-chevron-up {
  background-image: url('assets/svgs/icon-chevron-up.svg') 
} // TODO
.icon-cross {
  background-image: url('assets/svgs/icon-cross.svg')
}
.icon-dark-theme {
  background-image: url('assets/svgs/icon-dark-theme.svg')
}
.icon-hide-sidebar {
  background-image: url('assets/svgs/icon-hide-sidebar.svg')
}
.icon-light-theme {
  background-image: url('assets/svgs/icon-light-theme.svg')
}
.icon-show-sidebar {
  background-image: url('assets/svgs/icon-show-sidebar.svg');
  width: 20px;
  height: 14px;
  background-size: 20px 14px;
}
.icon-vertical-ellipsis {
  background-image: url('assets/svgs/icon-vertical-ellipsis.svg');
  width: 4px;
  height: 16px;
  background-size: 4px 16px;
}
.logo-dark {
  background-image: url('assets/svgs/logo-dark.svg');
  height: 25px;
  width: 152px;
  background-size: 152px 25px;
}
.logo-light {
  background-image: url('assets/svgs/logo-light.svg');
  height: 25px;
  width: 152px;
  background-size: 152px 25px;
}
.logo-mobile {
  background-image: url('assets/svgs/logo-mobile.svg')
}



